@media(min-width: 1170px){
    header .container {
        width: 1170px;
    }
}

@media(max-width: 1000px){
    .top-wrapper {
        background-size: 100%;
    }

    .works h2 {
        margin-top: 100px;
    }

    .works {
        width: 100%;
    }

    .skills ul {
        flex-wrap: wrap;
    }

    .logo1 {
        width: 100%;
    }
    .logo2 {
        width: 100%;
    }
    
}

@media(max-width: 950px){
    .bn1 {
        width: 100%;
    }
    
}

@media(max-width: 785px){
    .bn2 {
        width: 100%;
    }
    
}

@media(max-width: 600px){
    .bn5, .bn6, .bn7, .bn8 {
        width: 100%;
    }
    
}

@media(max-width: 380px){
    .bn3, .bn4 {
        width: 100%;
    }
}



@media(max-width: 670px){

    .menu {
        display: none;
    }
    .menu .flex-list {
        flex-direction: column;
        background-color: rgba(27, 60, 110, 0.7);
        display: block;
    }
    .menu .flex-list li {
        margin: 0 auto;
    }

    .menu-icon {
        display: block;
    }

    .top-wrapper {
        margin: 0 auto;
        padding: 0 40px 0 40px;
        background-size:cover;
    }

    .top-wrapper p {
        font-size: 14px;
        text-align: left;
    }



    .works h2 {
        margin-top: 100px;
        margin-bottom: 60px;
        font-size: 30px;
    }


    .works p {
        display: block;
        font-size: 6px;
        text-align: center;
    }

    .fas-size {
        font-size: 44px;
    }


    .skills {
        margin-top: 100px;
    }

    .skills h2{
        font-size: 30px;
    }


}
